*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
span{
	cursor: pointer;
}
#top{
	width: 1920px;
	height: 50px;
	background-color: #1f2228;
	color: #fff;
	font-size: 24px;
	text-align: center;
	line-height: 50px;
}
#right-area{
	width: 1817px;
	margin-left: 103px;
}
#left-area{
	width: 103px;
	height: 4279px;
	background-color: #031421;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	position: fixed;
	z-index: 1000;

}
#left-area span{
	line-height: 70px;
	cursor:pointer;
}
#left-area span:last-child{
	display: block;
	margin-top: 50px;
}
#big-img{
	
	height: 559px;
	position: relative;
	/*background-color: #fff;*/
}
#scroll{
	overflow: hidden;
	
}
#scroll1,#scroll2,#scroll3 {
float: left;
}
#bg-img{
	position: absolute;
	top: 0px;
	left: 0px;
	/*margin-left: -129px;*/

	z-index: -100;
}
#bg-img img{
	height: 560px;
	width: 100%;
}
.big_img-img{
	width: 300px;
	height: 320px;
	margin: 0 auto;
	padding-top: 40px;
}
.big_img-word01 p:first-child{
	text-align: center;
	font-size: 35px;
	font-weight: bold;
	font-family: '微软雅黑';
	color: #fff;

}
.big_img-word01 p:last-child{
	text-align: center;
	font-size: 65px;
	font-weight: bold;
	color: #fff;

}

#big_img-bottom{
	overflow: hidden;
	position: absolute;
	width: 1817px;
	height: 65px;
	/*background-color: #000;*/
	/*opacity: 0.2;*/
	/*left: 103px;*/
	bottom: 2px;
	z-index: 250;

}
.bottom-bg{
	position: absolute;
	width: 1817px;
	height: 65px;
	/*left: 173px;*/
	bottom: 2px;
	background-color: #000;
	opacity: 0.2;
	z-index: 120;
}
#bottom-left{
	height: 65px;
	position: relative;
	float: left;



}
#bottom-left p{
	/*display: inline-block;*/
	float: left;
	/*height: 65px;*/
}

#logo{
	position: absolute;
	left: 10px;
	top: 10px;
	z-index: 100;
}
.date{
	text-align: center;
	font-size: 14px;
	font-family: "微软雅黑";
	line-height: 65px;
}
.calendar{
	margin-top: 16px;
	margin-left: 20px;
}    
.calendar:hover{
	transform: scale(1.2);
}
#bottom-right{
	float: right;
	overflow: hidden;
	margin-bottom: 2px;
	background-color: #c94d63;
}
#bottom-right p{
	float: left;
	width: 148px;
	height: 67px;
	background-color: #cd586d;
	text-align: center;
	font-size: 14px;
	font-family: "微软雅黑";
	line-height: 65px;
	margin-left: 5px;
}
#bottom-right p:hover{
	transform:  translate3d(0,-2px,0);
	box-shadow: 0px 5px   5px #ccc;

}
#bottom-right p a{
	color: #fff;
	
}



/*/////////*/
#fir-block{
	width: 1817px;
	height: 560px;
	/*border: 1px solid #ccc;*/
	text-align: center;	
}
#box1{
	width: 1070px;
	/*height: 550px;*/
	margin: 0 auto;
	/*background-color: #0f9999;*/
	/*border: 1px solid #f00;*/
}
.fir-head{
	margin-top: 30px;
}
.h-words1{
	font-size: 30px;
	color:#e94b59;
	font-weight: bold;
}
.h-words2{
	font-size: 20px;
	color:#000;
}
.h-words2 span{
	font-size: 25px;
	color: #ea5413;
	font-weight: bold;
}
#box2{
	width: 1040px;
	height: 400px;
	background: url(../img/shipin/ditu.png) 250px 60px no-repeat;
	overflow: hidden;
}
#fir-le{
	float: left;
	width: 296px;
	height: 200px;
	margin-top: 100px;
}
#fir-le ul{
	overflow: hidden;
}
#fir-le ul li{
	float: right;
	width: 138px;
	height: 40px;
	/*border:1px solid #262626;*/
	margin-top: 10px;
	list-style: none;
	margin-left: 10px;
}
#fir-le ul li a{
	display: block;
	width: 138px;
	height: 40px;

}
#fir-cen{
	width: 820px;
	height: 50px;
	float: left;
	margin-left: -160px;
	margin-top: 40px;

	background: url(../img/shipin/jinatou.png) 0 0 no-repeat;
}
.cen-img1{
	width: 50px;
	height: 50px;
	margin: 0 auto;
	background-color: #a9c12e;
	border: 1px solid #a9c12e;
	border-radius: 50%;

	margin-top: 25px;
}
.cen-img1 img{
	margin-top: 15px;
}
.cen-img2{
	width: 220px;
	height: 90px;
	margin-left: 225px;
	background: url(../img/shipin/dsp.png) 160px 27px no-repeat;
}
.cen-img2 img{
	margin-left: -80px;
}


#fir-rt{
	float: right;
	width: 296px;
	height: 200px;
	margin-top: 10px;
	/*margin-right: -30px;*/
}
#fir-rt ul{
	overflow: hidden;
}
#fir-rt ul li{
	float: left;
	width: 138px;
	height: 40px;
	/*border:1px solid #262626;*/
	margin-top: 10px;
	list-style: none;
	margin-left: 10px;
}
#fir-rt ul li a{
	display: block;
	width: 138px;
	height: 40px;

}

/*///////*/
#sec-block{
	width: 1817px;
	height: 455px;
	border: 1px solid #ccc;
	text-align: center;
	/*background: url(../img/shipin/sanjiao.png) 888px 0 no-repeat;*/
	background-color: #f2f0f0;
	position: relative;
}
.san {
	position: absolute;
	left: 900px;
	top: -1px;
}
#box3{
	width: 770px;
	height: 370px;
	margin: 0 auto;
	border: 1px solid #ccc;
	overflow: hidden;
	margin-top: 50px;
}
.sec-lt,.sec-cen,.sec-rg{
	position: relative;
	width: 210px;
	height: 370px;
	float: left;
	background: url(../img/shipin/shouji.png) 0px 0 no-repeat;
}
.sec-cen{
	width: 210px;
	height: 370px;
	float: left;
	background: url(../img/shipin/shouji.png) 0px 0 no-repeat;
	margin-left: 70px;
}
.sec-rg{
	width: 210px;
	height: 370px;
	float: left;
	background: url(../img/shipin/shouji.png) 0px 0 no-repeat;
	margin-left: 70px;

}
.sec-img1{
	margin-top: 35px;
}
.sec-img2{
	position: absolute;
	left: 11px;
	top: 44px;
}






















#footer{
	width: 1817px;
	height: 60px;
	background-color: #ba0013;
	font-family: "微软雅黑";
	font-size: 12px;
	color: #ffd6da;
	text-align: center;
	line-height: 20px;
	padding-top: 20px;
}
#footer span{
	display: block;
}
